/* Header */
.header {
  display: flex;
  background-color: cornflowerblue;
  justify-content: center;
  padding: 2em;
}
/* Link */
.header-title {
  font-weight: bold;
  text-decoration: none;
  font-size: 2em;
}

.header:hover {
  background-color: cadetblue;
}
