/* Header */
.header {
  display: flex;
  background-color: cornflowerblue;
  justify-content: center;
  padding: 2em;
}
/* Link */
.header-title {
  font-weight: bold;
  text-decoration: none;
  font-size: 2em;
  color: azure;
}

.header:hover {
  background-color: cadetblue;
}

/* Judul */
.judul {
  display: flex;
  justify-content: center;
  background-color: coral;
  margin: 5px;
  padding: 10px;
}

.judul p {
  font-weight: bold;
  font-size: 18px;
  color: aliceblue;
}

/* Content*/
.konten {
  margin-left: auto;
  margin-right: auto;
}


/* Credit */
.Credit {
  font-family:Verdana;
  font-size: 15px;
}

.Written {
  color: crimson;
}
.Tanggal {
  color: brown;
}

/* Article */
.konten {
  max-width:500px ;
  font-family: Tahoma;
  text-align: justify;
}
span{
  color: blue;
}

/* Daftar Menu */
.container {
  display: flex;
  flex-wrap:wrap ;
  margin-top:40px;
  justify-content: center;
  border: 1px solid;
  height: 300px;
}
/* box-preview */
.box-preview {
  width: 300px;
  height: 250px;
  background-color: antiquewhite;
  margin-left: 20px;
  padding: 20px 10px 10px 10px;
  text-align: justify;
  box-shadow: 0px 20px 10px 2px  grey ;
  margin-top: 10px;
  transition:0s ;
}
.box-preview:hover {
  /* background-color: rgb(230, 235, 240); */
  background-color: antiquewhite;
  padding-top: 10px;
  box-shadow: 0px 15px 15px 2px  grey ;

}
/* judul */
.box-preview-judul {
  font-family:Arial ;  
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 13px;
}
/* Credit */
.box-preview-credit {
  font-style: italic;
}
.box-preview h3 {
  font-size: 12px;
  text-align:left
}
/* text */
.box-preview-text {
  font-family: tahoma;
}
/* Link */
.box-preview a {
  font-style: italic;
  text-decoration: none;
}
.box-preview a:hover {
  color: crimson;
}